.Question {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  .Box-Question {
    margin: 10px;
    padding: 3%;
    display: block;
    max-width: 100%;
    border-radius: 10px;

    .Question-Title {
      font-size: 25px;
    }
    .Question-Detail {
      display: block;
      text-align: left;
    }
    .User-Info {
      text-align: left;
      margin: 10px;
      .Avatar {
        width: 100%;
      }
      img {
        display: block;
        width: 100%;
      }
    }
  }

  .Votes {
    border: 0.5px solid black;
    text-align: center;
    display: block;
    border-radius: 5px;
    height: 75px;
    width: 90px;
    .Votes-Results {
      float: left;
      text-align: center;
      width: 49%;
      height: 75px;
      padding: 35% 0px;
    }
    .GroupBtnVote {
      width: 40%;
      .Btn-Votes {
        background-color: whitesmoke;
        color: #000;
        margin: 0px;
        height: 50%;
      }
    }
  }
}
