.search-container {
    width: 700px;
    display: block;
  
    input#search-bar {
      margin: 0 auto;
      width: 89%;
      height: 45px;
      padding: 0 20px;
      font-size: 1rem;
      border: 1px solid #d0cfce;
      outline: none;
      border-radius: 10px;
      &:focus {
        border: 1px solid #000;
        transition: 0.35s ease;
        color: #000;
        &::-webkit-input-placeholder {
          transition: opacity 0.45s ease;
          opacity: 0;
        }
        &::-moz-placeholder {
          transition: opacity 0.45s ease;
          opacity: 0;
        }
        &:-ms-placeholder {
          transition: opacity 0.45s ease;
          opacity: 0;
        }
      }
    }
  
    .btn-search {
      float: right;
      width: 10%;
      height: 45px;
      padding: 0 20px;
      font-size: 1rem;
      border: 1px solid #d0cfce;
      border-radius: 10px;
      outline: none;
      cursor: pointer;
      text-align: center;
      background-color: #fff;
      &:hover {
        background-color: #d0cfce;
        transition: 0.3s;
      }
      &:hover .search-icon {
        color: #fff;
        transition: 0.3s;
      }
      &:focus {
        background-color: #a5a4a2;
        transition: 0.3s;
      }
      .search-icon {
        padding-top: 5px;
      }
    }
  }
  