.aroundEditorAnswer{
    height: 180px;
    margin-left: auto;
    margin-right: auto;
}
.answerForm{
    text-align: center;
    border: solid 1px #a9a9a9;
    border-radius: 15px;
    padding: 35px 20px;
    margin: 50px;
    position: relative;
}
.aroundBtnAnswer{
    text-align: right;
}
.answerText{
    position: absolute;
    top: -5%;
    left: 1%;
}