.actions {
    opacity: 0;
  }
  
  tr:hover .actions {
    opacity: 1;
  }
  
  tbody td a {
    color: rgb(187, 183, 183);
  
    &:hover {
        color: rgb(187, 183, 183);
    }
  }
  .text-danger{
    cursor: pointer;
  }