.text-post {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid gray;
  width: 50%;
}
.update-post {
  display: flex;
}
.style-form-group {
  margin-left: 30px;
  width: 25%;
}
.button-update-delete {
  display: flex;
  justify-content: space-between;
}
.phuc {
  font-weight: bold;
}
