.questionForm{
    border-radius: 15px;
    padding: 35px 20px;
    margin: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .aroundEditorQuestion{
        border: solid 1px #CED4DA;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
    }
    .aroundBtnQuestion{
        text-align: center;
    }
}
