.contentApproval {
  display: inline;
  margin: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 80%;
  .btn-fill {
    float: right;
    margin-left: 5px;
  }
  h4 {
    font-weight: bold;
  }
}

.header-approve {
  width: 100%;

  .total {
    width: 100px;
    background: #a7a6a6;
    color: rgb(248, 248, 248);
    padding: 10px 8px;
    height: 40px;
    border-radius: 10px;
    float: right;
    margin: 0 10px;
  }
  .col-rgt {
    margin-right: 100px;
  }
}

.searchBar {
  margin: 30px;
}
.infoadmin {
  .user {
    position: absolute;
    top: 1%;
    right: 23%;
    .avt {
      width: 50px;
      float: left;
    }
    .adminname {
      padding-top: 15px;
      padding-left: 10px;
      font-weight: bold;
      float: left;
    }
  }
}

.question-list {
  margin: 50px 0;
  border-radius: 5px;
  border-top: 2px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
  padding: 20px 0;
  position: relative;
  margin-right: 28%;

  .app-dec {
    position: absolute;
    right: -25%;
  }
  .user-question {
    .avt {
      width: 50px;
      float: left;
    }
    .username {
      float: left;
      margin-top: 15px;
      margin-left: 15px;
      font-weight: bold;
    }
    .question-time {
      font-size: 0.7em;
      color: #7a7979;
      margin-bottom: 5px;
    }
  }
  .question-content {
    max-width: 100%;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    overflow: hidden;

    word-break: break-all;
    .question-des {
      font-size: 0.9em;
      color: #646464;
    }

    .question-title {
      font-weight: 600;
      color: #1b1d97;
      &:hover {
        color: #a0a1da;
        transition: 0.2s;
        text-decoration: none;
      }
    }
  }
}
#abs {
  text-decoration: #646464;
}
