.qs-header {
  .search-bar {
    margin: 30px 0;
  }
  .question-h {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  .question-time {
    font-size: 0.8em;
    color: rgb(131, 130, 130);
    margin-bottom: 10px;
  }
  .user {
    float: right;
    position: absolute;
    right: 25%;
    top: 4%;
    .avt {
      width: 50px;
      float: right;
    }
    .username {
      padding-top: 15px;
      padding-left: 10px;
      font-weight: bold;
      float: right;
    }
  }
}
.question-detail {
  margin-right: 25%;
  .user {
    float: right;
    .avt {
      width: 50px;
      float: right;
    }
    .username {
      padding-top: 15px;
      padding-left: 10px;
      font-weight: bold;
      float: right;
    }
    .question-time-detail {
      font-size: 0.7em;
      color: rgb(150, 150, 150);
      margin-bottom: 5px;
    }
  }
}
.other-btn {
  margin: 100px auto;
}
